body {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #030303;
    width: 600px;
    height: 1500px;
    margin: auto;
}

.sr_only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0px;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    white-space: nowrap;
  }
h1 {
    text-align: center;
    margin: 50px;
}

.point {
    text-align: right;
}

.grid1 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: repeat(7, 30px);
    gap: 30px 20px;
    margin-top: 20px;
}


.req {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: rgb(139, 19, 139);
}

.grid1 input,
button {
    border-radius: 4px;
    border: 1px solid lightgray;
}

#check,
#code,
button {
    border: 1px solid rgb(139, 19, 139);
    color: rgb(139, 19, 139);
    background-color: white;
    cursor: pointer;
}

.join {
    width: 300px;
    height: 40px;
    background-color: rgb(139, 19, 139);
    color: white;
    margin: 40px;
}

.caution {
    font-size: smaller;
    margin-top: -25px;
    margin-left: 5px;
    text-align: left;
}



.grid2 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: repeat(3, 30px);
    gap: 40px 20px;
    margin-top: 20px;
}

.birth {font-size: 0; display: flex; justify-content:space-evenly;
border: solid 1px #646363;
border-radius: 4px;}
.birth input{width: 100%;
border: none;
text-align: end;
font-size: small;}

.flex1,.flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 10px; */
}

#a+label::before,
#b+label::before,
#c+label::before,
#d+label::before,
#e+label::before
{
    content:'';
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url(../images/Radio.svg);
    background-size: cover;
    margin-right: 8px;
    vertical-align: -7px;
    border: solid 1px white;
    

}

/* .flex1 #a :checked +label::before,
#b :checked +label::before,
#c :checked +label::before

{
    background-image: url(../images/Radio-1.svg)
} */

#agree1+label::before,
#agree2+label::before,
#agree3+label::before,
#agree4+label::before,
#agree5+label::before
{
    content:'';
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url(../unCheck.svg);
    background-size: cover;
    margin-right: 8px;
    vertical-align: -7px;
    border: solid 1px white;
    

}
/* #agree1 :checked +label::before
{
    background-image: url(../Checked\ \(3\).svg)} */



::placeholder {
    padding-left: 10px;
    font-weight: lighter;
}

.grid3 {
    width: 600px;
    display: grid;
    grid-template-columns: 110px 0px 350px 1fr;
    grid-template-rows: 100px repeat(4, 30px);
    margin: 20px 20px;
    text-align: start;
   
    gap: 20px 10px;

}


.grid3 img {
    vertical-align:top;
    width:20px ;
}

.sign img{width: inherit;}
.sign {
    grid-row: 1/span 6;
    background-color: orange;
}

.agree1 {
   
    grid-column: 3/-1;
    grid-row: 1/ span 1;
    font-size: 20px;
    background-color: red;
}

.caution2 {
    font-size: 12px;
    color: #646363;
}

.details {
    border: none;
    color: rgb(57, 15, 97);
    font-size: 12px;
    font-weight: bolder;
}

input+label::before{

    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/Check\ \(3\).svg);
    background-size: cover;

}



.linebold{ border: 1px solid rgb(51,51, 51);}


